<div class="footer">
    <div class="footer__block footer__block--bl1">
        <div class="footer__bl1--top">
            <div class="footer__navbar">
                <div class="item__block--footer item__block1">
                    <div class="footer__navbar--item"><a href="#" class="footer__navbar--link">Home</a></div>
                    <div class="footer__navbar--item"><a href="#" class="footer__navbar--link">Services</a></div>
                </div>
                <div class="item__block--footer item__block2">
                    <div class="footer__navbar--item"><a href="#" class="footer__navbar--link">How it works</a></div>
                    <div class="footer__navbar--item"><a href="#" class="footer__navbar--link">About</a></div>
                </div>
                <div class="item__block--footer item__block3">
                    <div class="footer__navbar--item"><a href="#" class="footer__navbar--link">Pricing</a></div>
                    <div class="footer__navbar--item"><a href="#" class="footer__navbar--link">Blog</a></div>
                </div>
            </div>
            <div class="footer__socials">
                <div class="footer__socials--social footer__socials--fb"><a href="#" class="footer__social--link"></a></div>
                <div class="footer__socials--social footer__socials--tw"><a href="#" class="footer__social--link"></a></div>
                <div class="footer__socials--social footer__socials--lk"><a href="#" class="footer__social--link"></a></div>
            </div>
        </div>
        <div class="footer__form">
            <input type="text" name="" id="" class="footer__form--input" placeholder="Email for newsletters">
            <div class="footer__form--btn">subscribe</div>
        </div>
    </div>

    <div class="footer__block footer__block--bl2">
        <ul class="footer__servicenav">
            <li class="servicenav__item"><a href="#" class="servicenav__link">Terms of service</a></li>
            <li class="servicenav__item"><a href="#" class="servicenav__link">The policy of confidentiality</a></li>
            <li class="servicenav__item"><a href="#" class="servicenav__link">Support</a></li>
            <li class="servicenav__item"><a href="#" class="servicenav__link">FAQ</a></li>
        </ul>
        <div class="footer__copyright">© 2017 «Aliro»</div>
    </div>
</div>