<div class="header">
    <nav class="header__nav">
        <div class="header__logo">Aliro</div>
        <ul class="header__navbar">
            <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
            <li class="nav__item"><a href="#" class="nav__link">How it works</a></li>
            <li class="nav__item"><a href="#" class="nav__link">About</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Insights</a></li>
        </ul>
        <div class="header__lang">
            <div class="header__lang--text">ENG</div>
            <div class="header__lang--arrow"></div>
        </div>
        <div class="header__sign">sign in</div>
        <div class="header__btn">create a listing</div>
    </nav>

    <div class="header__title">Qualified access to commodities database</div>
    <div class="header__subtitle">The term commodity is specifically used for an economic good or service when the demand for it has no qualitative differentiation across a <span class="underline">market</span>.</div>

    <div class="header__search">
        <input type="text" name="" id="" class="header__search--input" placeholder="What you are looking for?">
        <div class="header__search--btn">search</div>
    </div>
</div>
