<div class="images">
    <div class="images__block1">
        <div class="images__title images__block1--title">Access the global market
            <span class="images__title--free">for free</span></div>
        <div class="images__subtitle images__block1--subtitle">Join us and get free access for 6 months to sell and buy commodities all over the world.</div>
        <div class="images__btn images__block1--btn">join aliro</div>
    </div>
    <div class="images__block2">
        <div class="images__title images__block2--title">Buy and sell commodities globally</div>
        <div class="images__btn images__block2--btn">check how it works</div>
    </div>
</div>